<div class="container">
  <div class="row">
    <div class="col-md-8 p-2 ">
        <h4><strong>{{'INSTITUTE_DETAILS'|translate}}</strong></h4>
    </div>
    <div class="p-2 col-md-4 text-center">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#!/show_institute" class="text-muted">{{'SHOW'|translate}}</a></li>
        </ul>
    </div>
  </div>
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 grey lighten-4 p-5 mt-5">
          <h3 class="text-center">{{'ADD_INSTITUTE_DATA'|translate}}</h3>
          <div class="md-form mb-0">
              <input type="text" id="name" class="form-control" ng-model="institute.name">
              <label for="name">{{'NAME'|translate}}</label>
          </div>
          <div class="md-form mb-0">
              <input type="text" id="city" class="form-control" ng-model="institute.address.city">
              <label for="city">{{'CITY'|translate}}</label>
          </div>
          <div class="md-form mb-0">
              <input type="text" id="district" class="form-control" ng-model="institute.address.district">
              <label for="district">{{'DISTRICT'|translate}}</label>
          </div>
          <div class="md-form mb-0">
            <input type="text" id="country" class="form-control" ng-model="institute.address.country">
            <label for="country">{{'COUNTRY'|translate}}</label>
          </div>

          <button class="btn btn-primary" ng-click="add()">{{'ADD_DATA'|translate}}</button>
      </div>
      <div class="col-md-4"></div>
  </div>
</div>
