<div class="container">
  <div class="row">
    <div class="col-md-8 p-2 ">
        <h4><strong>{{'BATCH_DETAILS'|translate}}</strong></h4>
    </div>
    <div class="p-2 col-md-4 text-center">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#!/show_batch" class="text-muted">{{'SHOW'|translate}}</a></li>
            <li class="list-inline-item"><a href="#!/add_batch" class="text-muted">{{'ADD_BATCH'|translate}}</a></li>
        </ul>
    </div>
  </div>
  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-12">
          <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                  <div class="md-form">
                      <input type="text" id="inputEx" class="form-control" ng-model="search">
                      <label for="inputEx">{{'SEARCH'|translate}}</label>
                  </div>
              </div>
              <div class="col-md-2"></div>
          </div>
          <div class="table-responsive">
              <table class="table">
                  <thead>
                      <tr>
                          <th>{{'NAME'|translate}}</th>
                          <th>{{'CLASS'|translate}}</th>
                          <th>{{'SUBJECT'|translate}}</th>
                          <th>{{'FEE'|translate}}</th>
                          <th>{{'BOARD'|translate}}</th>
                          <th>{{'BATCH_START_TIME'|translate}}</th>
                          <th>{{'BATCH_END_TIME'|translate}}</th>
                          <th></th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="x in records | filter : search">
                          <td>{{x.name}}</td>
                          <td>{{x.class}}</td>
                          <td>{{x.subject}}</td>
                          <td>{{x.fee}}</td>
                          <td>{{x.board}}</td>
                          <td>{{x.batch_start_time}}</td>
                          <td>{{x.batch_end_time}}</td>
                          <td><a href="#!/edit_batch/{{ x.id }}" class="btn btn-sm btn-success"><i class="fa fa-pencil"></i></a>
                          <a href="" ng-click="removeData(x)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <div class="col-md-2"></div>
  </div>
</div>